{% set title = 'Article index' %}
{% include 'partials/head.twig' %}

<body class="grid justify-center w-screen bg-gray-300">
<div class="grid max-w-5xl justify-center">
{% include 'partials/navbar.twig' %}
{% block body %}

{% endblock %}
</div>
</body>