<div class="h-16 bg-gradient-to-r from-cyan-600 w-11/12 justify-self-center mb-3  drop-shadow-lg
 to-blue-300 my-1 grid p-2.5 rounded-2xl grid-cols-6">
    <a href="/articles" class=" ">
        <h1 class="text-blue-50 font-bold h-max text-4xl hover:text-gray-300 py-0 col-start-1 col-end-3">Articles</h1>
    </a>
    <div class="col-start-3 col-end-6">

    </div>
    <a href="/articles/create" class="decoration-0">
        <button class="text-white font-bold h-max text-2xl bg-indigo-500 hover:text-gray-300 hover:bg-cyan-600
          rounded-2xl drop-shadow-lg p-2 col-start-6
           col-end-7 justify-self-end px-10 py-1.5">Create</button>
    </a>
</div>
