{% set title = 'edit: ' ~ article.getTitle %}
{% extends 'partials/base.twig' %}
{% block body %}

Article edit - {{ article.title }}

<form method="POST" action="/articles/{{ article.id }}">
    <div>
        <label for="title">Title: </label>
        <input id="title" type="text" name="title" value="{{ article.title }}" required/>
    </div>
    <div>
        <label for="description">Description: </label>
        <br>
        <textarea id="description" name="description" rows="5" required>{{ article.description }}</textarea>
    </div>
    <div>
        <button type="submit" class="text-white font-bold text-xl bg-indigo-500 hover:text-gray-300 hover:bg-cyan-600
                                                             rounded-2xl drop-shadow-lg justify-self-end px-2 py-1.5
                col-start-1 col-end-2 mt-5">Create</button>
    </div>
</form>

{% endblock %}