{% set title = 'edit: ' ~ article.getTitle %}
{% extends 'partials/base.twig' %}
{% block body %}

Article edit - {{ article.title }}

<form method="POST" action="/articles/{{ article.id }}">
    <div>
        <label for="title">Title: </label>
        <input id="title" type="text" name="title" placeholder="Title goes here.." value="{{ article.title }}" required/>
    </div>
    <div>
        <label for="description">Description: </label>
        <br>
        <textarea id="description" name="description" rows="5" placeholder="Text goes here.." required>{{ article.description }}</textarea>
    </div>
    <div>
        <button type="submit" id="submit">Create</button>
    </div>
</form>

{% endblock %}